@model ScramWebApp.Models.TaskModel

@{
    ViewData["Title"] = "Редактировать задачу";
}

<h1>Редактировать задачу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BacklogId" class="control-label"></label>
                <select asp-for="BacklogId" class="form-control" asp-items="ViewBag.BacklogId"></select>
                <span asp-validation-for="BacklogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusScrumcs" class="control-label"></label>
                <select asp-for="StatusScrumcs" class="form-control" asp-items="@Html.GetEnumSelectList<StatusScrumcs>()"></select>
                <span asp-validation-for="StatusScrumcs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
